sugar story notification (1).json
{
  "name": "sugar story notification",
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "push_tokens",
        "returnAll": true,
        "filterType": "none"
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        128,
        304
      ],
      "id": "93042336-6413-4311-a58a-331ddbe5b504",
      "name": "Get many rows",
      "credentials": {
        "supabaseApi": {
          "id": "pimwrusvfYOyPdlv",
          "name": "autocomputation"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://exp.host/--/api/v2/push/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{ $json.token }}\",\n  \"title\": \"New Order Received! 🛍️\",\n  \"body\": \"Order #{{ $('WooCommerce Trigger').item.json.id }} has been placed.\",\n  \"sound\": \"mixkit_happy_bells_notification_937.wav\",\n  \"channelId\": \"order-alerts\",\n  \"data\": {\n    \"orderId\": \"{{ $('WooCommerce Trigger').item.json.id }}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        304
      ],
      "id": "b78e8caa-c685-43d7-acf2-714913dd40ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "event": "order.created"
      },
      "type": "n8n-nodes-base.wooCommerceTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        304
      ],
      "id": "1b6a87fe-51f4-4d4c-b702-413c37ef4ab7",
      "name": "WooCommerce Trigger",
      "webhookId": "b39f84d7-a1cb-441d-8b92-4341ff291507",
      "credentials": {
        "wooCommerceApi": {
          "id": "L9YUgOuc2vgaHU7L",
          "name": "Sugar Story WooCommerce"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "register-token",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -32,
        48
      ],
      "id": "954482ad-5e82-4cd8-aecd-213e7d4bfd6e",
      "name": "Webhook",
      "webhookId": "00a92646-c9ae-4ba1-aa33-210dfad764b1"
    },
    {
      "parameters": {
        "tableId": "push_tokens",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "token",
              "fieldValue": "={{ $json.body.token }}"
            },
            {
              "fieldId": "platform",
              "fieldValue": "={{ $json.body.platform }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        48
      ],
      "id": "7c98b6f3-7fc3-48c8-b075-05b71b418282",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "pimwrusvfYOyPdlv",
          "name": "autocomputation"
        }
      }
    },
    {
      "parameters": {
        "content": "## Push notifications\n",
        "height": 240,
        "width": 816,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        240
      ],
      "typeVersion": 1,
      "id": "114727dd-c1dc-400d-b5f6-eb3f82736372",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Get many rows": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WooCommerce Trigger": {
      "main": [
        [
          {
            "node": "Get many rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4b603ca2-a4d6-4d6d-ba08-03ee6000f589",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "031309915a0a453d6414710542858fed4833fec1142fbf035e6ed4b2fb5d0711"
  },
  "id": "YLOA6R06ECJmdhj0",
  "tags": []
}